@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap");

body {
    color: $primary-green;
    background-color: $dark-gray;
}

a {
    color: $primary-green;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: $primary-green;
    }
}
